<h1>Products</h1>

<ul>
	<% @products.each do |p| %>
		<li> <%= link_to p.name, product_path(p) %> : $<%= p.price %> <%= link_to "Delete", product_path(p), method: :delete%> <%= link_to "Edit", edit_product_path(p) %></li>
		<br>
	<% end %>
</ul>

<%= link_to "Categories", categories_path %>
<%= link_to "New Product", new_product_path %>