<h2><%= @product.name %></h2>

<ul>
	<li>Price: $<%=@product.price%></li>
	<li>Categories:<br>
		<% @categories.each do |c| %>
			<%= c.name %><br>
		<% end %>
	</li>
</ul>

<%= link_to "EDIT", edit_product_path %>
<%= link_to "HOME", root_path %>